<!-- {% assign default_paths = site.pages | map: "path" %}
{% assign page_paths = site.header_pages | default: default_paths %}

{% for path in page_paths %}
    
    {% assign item = site.pages | where: "path", path | first %}
    
    {% if item.title and page.title == item.title %}
        <a class="nav-active" href="{{ item.url | relative_url }}">{{ item.title }}</a>
    {% elsif item.title %}
        <a class="nav-link" href="{{ item.url | relative_url }}">{{ item.title }}</a>
    {% endif %}

    
{% endfor %} -->

<script type="text/javascript">
    function scrollToPublications() {
        $(document.body).animate({
            'scrollTop':   $('#research').offset().top
        }, 2000);
    }
    function scrollToProjects() {
        $(document.body).animate({
            'scrollTop':   $('#projects').offset().top
        }, 2000);
    }
</script>
    
<a href="/resume" target="_blank" style="font-size: 1rem">CV</a>
<a href="/#research" style="font-size: 1rem">Publications</a>
<a href="/#projects" style="font-size: 1rem">Projects</a>