.affiliations .affiliation {
    width: 100%;
    text-align: center;
}

.affiliations .affiliation-text {
    max-width: 150px;
    margin: 0 auto;
}

.affiliations .affiliation-text h6 {
    font-size: .65rem;
}

.affiliations img {
    max-height: 80px;
}
